<h1> Sign Up Page </h1>
<form action="/grads/signup" method="post">
Name: <input type="text" name="name" id="name">
Topic: <input type="text" name="topic" id="topic">
<input type="submit" value="Submit">
</form>
