<h1> Sign Up Page </h1>
<form action="/signup" method="post">
Name: <input type="text" name="name" id="name">
Password: <input type="password" name="password" id="password">
Topic: <input type="text" name="topic" id="topic">
<input type="submit" value="Submit">
</form>
